body {
    font-size: 16px;
    background-color: #80bd9e;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

#navigation-top {
    background-color: #ff420e;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand h1 {
    margin: 0;
    padding: 5px;
    font-size: 2em;
    font-weight: bold;
    color: #89da59;
    text-shadow: 2px 2px 3px #ffffb3;
}

#list-top a {
    color: #89da59;
    text-align: center;
    font-size: 1.5em;
}

#list-top a:hover {
    font-weight: bold;
    text-shadow: 2px 2px 3px #ffffb3;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid #89da59;
}